<h3>Shops</h3>
<!-- <button class="addButton" mat-raised-button color="accent" (click)="onOpenDialog(addShop)">Add Shops</button> -->
<!-- Dialog Add Shop   -->
<ng-template #addShop>
	<h2 matDialogTitle>Shop!</h2>
	<form #customForm="ngForm">
		<mat-dialog-content>
			<div>
				<mat-form-field floatLabel="auto" appearance="outline">
					<mat-label>Name</mat-label>
					<input matInput name="name" [(ngModel)]="name" required>
				</mat-form-field>
				<mat-form-field floatLabel="auto" appearance="outline">
					<mat-label>Address</mat-label>
					<input matInput name="address" [(ngModel)]="address" required>
				</mat-form-field>
				<mat-form-field floatLabel="auto" appearance="outline">
					<mat-label>Contact</mat-label>
					<input matInput name="contact" [(ngModel)]="contact" required>
				</mat-form-field>
			</div>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-stroked-button matDialogClose color="primary" [disabled]="!customForm.valid" (click)="onSubmit()">Add Shop</button>
		</mat-dialog-actions>
	</form>
</ng-template>
<!-- Dialog End  -->
<mat-form-field floatLabel="auto">
	<mat-label><i class="material-icons">search</i></mat-label>
	<input matInput type="text" name="search" placeholder="Search" [(ngModel)]="search">
</mat-form-field>
<mat-accordion>
	<mat-expansion-panel *ngFor="let shop of shops | filter:search" hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h4>{{ shop.name }}</h4>
			</mat-panel-title>
			<mat-panel-description>
				<h5>{{ shop.address }}</h5>
			</mat-panel-description>
			<mat-panel-description>
				<p>{{ shop.contact }}</p>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="expansion-dts">
			<img src="{{shop.img1}}">
			<p>{{ shop.about }}</p>
		</div>

		<mat-action-row>
			<button mat-raised-button color="info" (click)="getOrders(shop.id)">Orders</button>
			<button mat-raised-button color="info" (click)="getProducts(shop.id)">Products</button>
			<button mat-raised-button color="primary" (click)="onOpenDialog(editShop)">Edit</button>
			<button mat-raised-button color="warn" (click)="onDeleteShop(shop)">Delete</button>
		</mat-action-row>

		<!-- Dialog eidt Shop  -->
		<ng-template #editShop>
			<h2 matDialogTitle>Shop!</h2>
			<form #shopUpdateForm="ngForm">
				<mat-dialog-content>
					<div>
						<mat-form-field floatLabel="auto" appearance="outline">
							<mat-label>Name</mat-label>
							<input matInput name="name" [(ngModel)]="shop.name" required>
						</mat-form-field>
						<mat-form-field floatLabel="auto" appearance="outline">
							<mat-label>Address</mat-label>
							<input matInput name="address" [(ngModel)]="shop.address" required>
						</mat-form-field>
						<mat-form-field floatLabel="auto" appearance="outline">
							<mat-label>Contact</mat-label>
							<input matInput name="contact" [(ngModel)]="shop.contact" required>
						</mat-form-field>
						<mat-form-field floatLabel="auto" appearance="outline">
							<mat-label>About</mat-label>
							<textarea matInput name="about" [(ngModel)]="shop.about" required></textarea>
						</mat-form-field>
					</div>
				</mat-dialog-content>
				<mat-dialog-actions align="end">
					<button mat-stroked-button matDialogClose color="primary" [disabled]="!shopUpdateForm.valid"
						(click)="onShopUpdate(shop)">Update</button>
				</mat-dialog-actions>
			</form>
		</ng-template>
	</mat-expansion-panel>
</mat-accordion>