.mat-form-field {
  font-size: 14px;
  width: 75%;
}

.expansion-dts {
  display: flex;
}

.expansion-dts img {
  width: 150px;
  height: 150px;
}

.expansion-dts p {
  padding: 10px;
}

.shopDialog {
  padding: 100px;
}
h3, mat-panel-title, mat-panel-description {
  font-family: cursive !important;
}
mat-expansion-panel button {
  margin-left: 10px;
}
button {
  margin-right: 10px;
}