<h3>Appointment List</h3>
<mat-form-field floatLabel="auto">
  <mat-label><i class="material-icons">search</i></mat-label>
  <input matInput type="text" name="search" placeholder="Search" [(ngModel)]="search">
</mat-form-field>
<mat-accordion>
    <mat-expansion-panel *ngFor="let patient of patients | filter:search">
        <mat-expansion-panel-header>
          <mat-panel-title>Patient Name: {{patient.name}}</mat-panel-title>
          <mat-panel-description>
            Expected Date: {{patient.appointment_date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Patient Age: {{patient.age}}</p>
        <p>Address: {{patient.address}}</p>
        <p>Mobile: {{patient.mobile}}</p>
        <p>Time: {{patient.appointment_time}}</p>
        <p>Status: {{patient.status}}</p>
        <mat-action-row>
          <button mat-raised-button (click)="onAproved(patient)">Approve</button>
          <button mat-raised-button (click)="onDenyed(patient)">Deny</button>
        </mat-action-row>
      </mat-expansion-panel>
</mat-accordion>
