<h3>Ambulance</h3>
<mat-list>
    <mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile>
            <button mat-raised-button color="accent">Add Ambulance</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" name="search" [(ngModel)]="searchText">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>


  <mat-list-item *ngFor="let ambulance of ambulances | filter: {name: searchText};">
    <h3 matLine>Name: {{ambulance.name}}</h3>
    <p matLine>Address: {{ambulance.address}}</p>
    <p matLine>Contact: {{ambulance.contact}}</p>
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="warn">Delete</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
