<h3>Order Details</h3>
<mat-form-field floatLabel="auto">
  <mat-label><i class="material-icons">search</i></mat-label>
  <input matInput type="text" name="search" placeholder="Search" [(ngModel)]="search">
</mat-form-field>
<mat-accordion>
  <mat-expansion-panel *ngFor="let order of orders | filter:search">
    <p> Customer Address: {{order.address}}</p>
    <p>Mobile: {{ order.contact }}</p>
      <mat-expansion-panel-header>
        <mat-panel-title><h4>Customer Name: {{order.name}}</h4></mat-panel-title>
        <mat-panel-description>
          <p>Date of order: {{ order.date }}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Product  -->
      <mat-accordion>
        <h3>Orders</h3>
          <mat-expansion-panel *ngFor="let orderedProduct of order.products" (click)="onExpansion1(orderedProduct.product_id)">
            <mat-expansion-panel-header (click)="onExpansion(orderedProduct.shop_id)">
              <mat-panel-title>Products: {{orderedProduct.product_name}} </mat-panel-title>
              <mat-panel-description>
                Price: {{orderedProduct.product_price}} TK.
              </mat-panel-description>
              <mat-panel-description>
                quantity: {{orderedProduct.product_quantity}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="3" gutterSize="10px">
              <div *ngFor="let product of products">
                <mat-grid-tile>
                  <div class="productImg">
                    <img src="{{product.image}}" alt="Product Image" style="width: 150px;">
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div>
                    <h3>Product Details</h3>
                    <h4>Name: {{product.name}}</h4>
                    <p>Type: {{product.type}}</p>
                    <p>Description: {{product.description}}</p>
                    <p>Catagory: {{product.catagory}}</p>
                  </div>
                </mat-grid-tile>
              </div>
              <mat-grid-tile>
                <div *ngFor="let user of users">
                  <h3>Shop Details</h3>
                  <h4>Shop Name: {{user.name}}</h4>
                  <p>Shop Address: {{user.address}}</p>
                  <p>Shop Contact: {{user.contact}}</p>
                </div>
              </mat-grid-tile>
              
            </mat-grid-list>
              
              
          </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

