<div class="my_product">
  <mat-grid-list cols="4" rowHeight="2:4" gutterSize="10px">
    <mat-grid-tile *ngFor="let my_product of my_products">

    
      <div> 
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Name: {{my_product.name}}</mat-card-title>
            <mat-card-subtitle>Catagory: {{my_product.catagory_name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="img">
            <swiper [config]="config" [(index)]="index">
              <div>
                <img mat-card-image src="{{my_product.imageUrls}}" alt="Photo">
              </div>
            </swiper>
            <!-- <img mat-card-image src="{{my_product.imageUrls[0]}}" alt="Photo"> -->
            <!-- <slideshow [imageUrls]="my_product.imageUrls"></slideshow> -->
            <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->
          </div>
          <mat-card-content>
            <p>Price: {{my_product.price}}</p>
            <p>Quantity: {{my_product.quantity}}</p>
            <button mat-raised-button color="warn" (click)="onDelete(my_product)">Delete</button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
 

</div>