mat-sidenav-container {
  background-color: rgb(241, 241, 241);
}
.navbar {
  justify-content: space-between;
  /* background-color: #3171e0; */
  background: linear-gradient(125deg, rgba(49,113,224,1) 66%, rgba(56,128,255,1) 66%);
  box-shadow: 2px 2px 7px #000;
}
.outlet {
  padding: 16px;
  height: 84vh;
}
mat-sidenav {
  /* background-image: url(../assets/image/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: rgba(0, 0, 0, 0.829); */
  /* background-color: #3880ff; */
  background: linear-gradient(125deg, rgba(49,113,224,1) 66%, rgba(56,128,255,1) 66%);
  width: 200px;
  padding-top: 15px;
}
.mat-list-base .mat-list-item .mat-list-item-content {
  text-align: center !important;
}

.sideNav a {
  font-size: 19px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  color: #fff;
  font-family: Open Sans;
}
.sideNav a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
  background-color: rgb(42, 79, 80);
  padding-left: 45px;
}
.active {
  background-color: cadetblue !important;
  color: #fff !important;
  text-shadow: 2px 2px 4px #000 !important;
  padding-left: 45px !important;
  overflow: hidden;
  box-shadow: 2px 2px 7px #000;
}
mat-divider {
  background-color: #fff;
}
