
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list class="sideNav">
      <a mat-list-item  routerLink="/home" routerLinkActive="active">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item  routerLink="/shop" routerLinkActive="active">Shop</a>
      <mat-divider></mat-divider>
      <a mat-list-item  routerLink="/doctor" routerLinkActive="active">Doctor</a>
      <mat-divider></mat-divider>
      <a mat-list-item  routerLink="/ambulance" routerLinkActive="active">Ambulance</a>
      <mat-divider></mat-divider>
      <a mat-list-item  routerLink="/hospital" routerLinkActive="active">Hospital</a>
      <mat-divider></mat-divider>
      <a mat-list-item  routerLink="/users" routerLinkActive="active">Users</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="navbar">
          <div>AIDE</div>
          <div>
            <button mat-fab color="primary"><mat-icon>logout</mat-icon></button>
          </div>
        </mat-toolbar>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
