
a {
  text-decoration: none;
}

.matCard {
  padding: 15px;
  width: 350px;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 7px #b8a5ee;
  color: #000;
  background-color: #fff;


  text-align: center;
  text-decoration: none;
  opacity: .95;
  font-family: cursive !important;
}
.matCard:hover {
  background-color: cadetblue;
  color: #fff;
  text-shadow: 2px 2px 7px #000;
}
.gridList {
  margin-bottom: 30px;
}
mat-grid-tile {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.37);
}
mat-grid-tile:hover {
  transform: scale(0.95);
  transition: all 0.3s ease-in;
}
mat-card-content {
  margin-top: 30px;
}
.innerCard {
  width: 420px;
  /* padding: 30px; */
  height: 145px;
  font-family: cursive !important;
}
.userCard {
  width: 450px;
  padding: 85px;
  box-sizing: border-box;
  height: 400px;
  text-align: center;
  font-family: cursive !important;
}
mat-progress-spinner {
  margin: auto;
  stroke: chartreuse !important;
}

